/**
 * Button
 */

@mixin button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: $secondary--transparent;
  border: 1px solid $secondary--lighter;
  border-radius: 4px;
  font-family: $headingsfont;
  font-size: $fszs;
  color: $lightcolor;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px $sps 15px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease, border-color 0.3s ease;

  &:after {
    @include pseudo__content;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: calc(100% + 8px);
    height: calc(100% + 8px);
    filter: blur(5px);
    background-color: $secondary--lighter;
    opacity: 0.1;

    transform: translateX(-50%) translateY(-50%);
  }

  @include hover {
    transform: translateY(-3px);
    background-color: $secondary--lighter;
    border-color: $secondary--lighter;

    &:after {
      opacity: 0.2;
      transition: opacity 0.3s ease;
    }
  }
}

// Sizing
@mixin button--xs {
  font-size: 9px;
}

@mixin button--sm {
  font-size: 12px;
}

@mixin button--lg {
  font-size: 18px;
}

@mixin button--expand {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

// Coloring
@mixin button--colored($backgroundColor, $color, $hoverColor: $primary) {
  border-color: $backgroundColor;
  background-color: $backgroundColor;
  color: $color;

  @include hover {
    border-color: $hoverColor;
    background-color: $hoverColor;
  }
}

// Outline style
@mixin button--outline($borderColor: $secondary, $color: $darkcolor) {
  background-color: transparent;
  border-color: $borderColor;
  border-width: 2px;
  color: $color;

  @include hover {
    background-color: $borderColor;
    border-color: $borderColor;
  }
}

// Border Radius
@mixin button--round($round: $br) {
  border-radius: $round;
}

@mixin button--circle($size: 50px) {
  padding: 0;
  width: $size;
  height: $size;
  border-radius: $size;
  line-height: $size;
  text-align: center;
}

// State style
@mixin button--disabled($backgroundColor: $grey) {
  opacity: 0.3;
  cursor: not-allowed;

  @include hover {
    background-color: $backgroundColor;
  }
}

// Text style
@mixin button--text {
  padding: 0;
  background-color: transparent;

  @include hover {
    background-color: transparent;
  }
}

// Button icon
@mixin button--icon {
  padding: 10px 11px;
}

.button {
  $parent: &;

  @include button;

  &--xs {
    @include button--xs;
  }

  &--sm {
    @include button--sm;
  }

  &--lg {
    @include button--lg;
  }

  &--expand {
    @include button--expand;
  }

  &--primary {
    @include button--colored($primary, $textcolor);
  }

  &--error {
    @include button--colored($error, $error--light);
  }

  &--warning {
    @include button--colored($notice--light, $notice);
  }

  &--success {
    @include button--colored($success, $success--light);
  }

  &--info {
    @include button--colored($info--light, $info);
  }

  &--outline {
    @include button--outline;

    &#{$parent}--primary {
      @include button--outline($primary, $textcolor);
    }

    &#{$parent}--error {
      @include button--outline($error, $error--light);
    }

    &#{$parent}--warning {
      @include button--outline($notice--light, $notice);
    }

    &#{$parent}--success {
      @include button--outline($success, $success--light);
    }

    &#{$parent}--info {
      @include button--outline($info--light, $info);
    }
  }

  &--round {
    @include button--round;
  }

  &--circle {
    @include button--circle();
  }

  &--text {
    @include button--text;
  }

  &--icon {
    @include button--icon;
  }

  &[disabled] {
    @include button--disabled;

    &#{$parent}--error {
      @include button--disabled($error);
    }

    &#{$parent}--warning {
      @include button--disabled($notice--light);
    }

    &#{$parent}--success {
      @include button--disabled($success);
    }

    &#{$parent}--info {
      @include button--disabled($info--light);
    }
  }
}
