.comment-list {
	position: relative;
}

.comment-list ol {
	list-style: none;
}

.comment-form p {
	position: relative;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	position: relative;
}

.comment-form input[type="submit"] {
	position: relative;
}
