body {
  font-size: $fszxs;
  font-weight: 500;
  line-height: $lh;
  font-family: $mainfont;
  color: $lightcolor;

  @include breakpoints(sm) {
    font-size: $fszs;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  // Fonts loading FOUT
  // Adjust FOUT with tools like https://meowni.ca/font-style-matcher/
  .fonts-loading & {
    font-family: $sans-serif;
  }
}

a {
  color: $textcolor;
  text-decoration: none;

  @include hover {
    color: $textcolor;
  }
}

/* Headings
---------------------------------------------------------------------------------------------------- */
@for $i from 1 through 6 {
  h#{$i} {
    line-height: $hlh;
    font-size: $hfsz - ($i - 1) * 2px;
    font-family: $headingsfont;
    font-weight: 400;
    color: $lightcolor;
    text-transform: uppercase;
  }
}

h1 {
  font-size: 50px;
  line-height: 54px;
}

/* Lists
---------------------------------------------------------------------------------------------------- */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

/* Spacing
---------------------------------------------------------------------------------------------------- */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin: 0 0 $sps 0;
}

/* Wysiwyg style
---------------------------------------------------------------------------------------------------- */
hr {
  clear: both;
  border: 0;
  height: 1px;
  background: $grey;
  margin: $sp 0;
}

blockquote {
  border-left: 5px solid $grey;
  padding: $sp;
  margin: 0 0 $sp 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;

  p:last-child {
    margin: 0;
  }
}

cite {
  font-style: italic;
}

small {
  font-size: 11px;
}

table {
  margin: $sp 0;
  width: 100%;
  border: $bdr;
  border-collapse: collapse;
  border-left: 0;
  border-radius: $br;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;

  th {
    padding: $spxs;
    border-left: 1px solid $grey;
    border-top: 0;
    vertical-align: top;
    text-align: left;
  }

  td {
    padding: $spxs;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    vertical-align: top;
    text-align: left;
  }
}

address {
  display: block;
  margin-bottom: $sp;
  font-style: normal;
  line-height: 20px;
}

abbr {
  text-decoration: underline;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $grey;
}

big {
  font-size: larger;
}

code {
  display: inline-block;
  padding: 2px 5px;
  background-color: $grey;
  border: 1px solid $darkcolor;
  font-family: monospace;
  font-size: $fsz;
  border-radius: $br;
}

s,
strike,
del {
  text-decoration: line-through;
}

em,
var {
  font-style: italic;
}

ins {
  text-decoration: none;
}

tt,
kbd,
samp {
  font-family: monospace;
}

pre {
  display: block;
  padding: $spxs;
  margin: 0 0 $sp;

  @include word-wrap(break-all);

  white-space: pre-wrap;
  background-color: $grey;
  border: 1px solid $darkcolor;
  border-radius: $br;
}

q {
  display: inline;
  font-style: italic;
}

sub,
sup {
  bottom: -0.25em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}
