/**
 * Positioning
 */
$zi: 1;

/**
 * Spacing
 */
$sp: 30px;

$spxxxxl: $sp * 4; // 120px
$spxxxl: $sp * 3; // 90px
$spxxl: $sp * 2.5; // 75px
$spxl: $sp * 2; // 60px
$spl: $sp/2 * 3; // 45px
$sps: $sp * 2/3; // 20px
$spxs: $sp/2; // 15px
$spxxs: $sp/3; // 10px
$spxxxs: $sp/6; // 5px

/**
 * WP ADMIN BAR
 */
$wpadminbarM: 46px;
$wpadminbarD: 32px;
